- var CONSTANTS = require("../../constants/index.json");

header.header
    div.header__content
        a(href=`${CONSTANTS.pages.home}` aria-label="Перейти на главную страницу").header__logo
            img(src="./images/logo.svg" alt="")
        div.header__buttons
            include ../../components/user-widget/index
        button.header__menu-button(aria-label="Открыть меню")
            span
            span
            span
            span
