header.header
    div.header__content
        a(href="/").header__logo
            img(src="./images/logo.svg" alt="")
        div.header__buttons
            a(href="/login", target="_blank").link Войти
            a(href="/signup", target="_blank").link Регистрация
