header.header
    div.header__content
        a(href="/").header__link
            img(src="./images/logo.svg" alt="")
        div.header__buttons
            a(href="/login", target="_blank") Войти
            a(href="/signup", target="_blank") Регистрация
