.mobile-menu#js-mobile-menu
    .mobile-menu__content
        ul
            li
                a(href="/") Ссылка 1
            li
                a(href="/") Ссылка 1
            li
                a(href="/") Ссылка 1
            li
                a(href="/") Ссылка 1
            li
                a(href="/") Ссылка 1
    .mobile-menu__overlay
