@import "@/styles";

.scope {
  .layout();
  margin-top: 60px;

  .mobile-wide({
    margin-top: 180px;
  });

  .tablet({
    margin-top: 202px;
  });

  .laptop({
    margin-top: 330px;
  });

  &__title {
    .col(24);
    .text-size-2();
    text-align: center;

    .mobile-wide({
      color: @white;
    })
  }

  &__sub-title {
    .col(24);
    .text-size-4();
    text-align: center;
    margin-top: 14px;

    .mobile-wide({
      color: @white;
    });
  }

  &__cards {
    .grid();
    grid-row-gap: 28px;
    margin-top: 30px;

    .tablet({
      margin-top: 56px;
      grid-row-gap: 12px;
    })
  }

  &__card {
    .col(24);
    background-color: @white;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    padding: 32px 24px;

    .tablet({
      padding: 42px 60px;
      .col(1, 3, 23);
    });

    .laptop({
      .col(12);
      padding: 56px 60px;

      &:nth-child(even) {
        .col(12, 13);
      }
    });

    &-title {
      .text-size-2();
      text-align: center;
      font-weight: 500;

      .tablet({
        text-align: left;
      })
    }

    &-desription {
      .text-size-4();
      line-height: 24px;
      margin-top: 24px;
      text-align: center;

      .tablet({
        text-align: left;
        line-height: 24px;
      })
      }
  }
}
