section.scope
    h2.scope__title Максимально простой интерфейс
    h3.scope__sub-title С Money Hamster вы сможете:
    .scope__cards
        article.scope__card
           h4.scope__card-title <mark>Вести учет</mark> ваших доходов и расходов
           p.scope__card-desription Вносите свои доходы и расходы в любое удобное для вас время.

        article.scope__card
            h4.scope__card-title <mark>Планировать</mark> свой бюджет на любой срок
            p.scope__card-desription Составляйте план своих расходов и доходов на месяц и более вперед.

        article.scope__card
            h4.scope__card-title <mark>Анализировать</mark> текущие траты и доходы
            p.scope__card-desription Просматривайте подробную статистику своих доходов и расходов за месяц.

        article.scope__card
            h4.scope__card-title <mark>Организовать</mark> накопления и вести их учет
            p.scope__card-desription Создавайте свои "Копилки" на различные цели, и ведите их учет.
