@import "@/styles";

.scope {
  max-width: 320px;
  margin: 138px auto 0 auto;
  padding: 0 22px;

  .sm({
    max-width: 1440px;
    margin: 142px auto 0 auto;
  });

  &__title {
    text-align: center;
  }

  &__sub-title {
    text-align: center;
    margin-top: 16px;
  }

  &__cards {
    display: flex;
    gap: 48px;
    flex-wrap: wrap;
    //display: grid;
    //grid-template-columns: 1fr;
    //grid-gap: 48px;
    margin-top: 152px;

    .md({
      //grid-template-columns: 500px 500px;
      justify-content: center;
    })
  }

  &__card {
    background-color: @white;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    padding: 24px;
    width: 100%;

    .md({
      max-width: 290px;
    });

    .xl({
      max-width: 500px;
      padding: 32px;
    });

    &-top {
      padding-right: 48px;
    }

    &-title {
      font-weight: 500;
    }

    &-desription {
      margin-top: 12px;
      font-size: 16px;
      line-height: 20px;
      //font-size: 20px;
      //line-height: 25px;
      //margin-top: 12px;

      .xl({
        font-size: 18px;
        line-height: 22px;
      })
    }

    &-info {
      font-size: 16px;
      line-height: 20px;
      //font-size: 20px;
      //line-height: 25px;
      margin-top: 42px;
      color: @flower;
      width: 80%;
      margin-left: auto;
      font-weight: 300;

      .xl({
        font-size: 18px;
        line-height: 22px;
      })
    }
  }
}
