section.scope
    h2.h2.scope__title Максимально простой интерфейс
    h3.h3.scope__sub-title С Money Hamster вы сможете:
    .scope__cards
        article.scope__card
           .scope__card-top
               h4.h3.scope__card-title <mark>Вести учет</mark> ваших доходов и расходов
               p.scope__card-desription Вносите свои доходы и расходы в любое удобное для вас время.
           p.scope__card-info В голове сразу появится картина, ваших основных трат, вы узнаете на что уходит основная часть бюджета.

        article.scope__card
            .scope__card-top
                h4.h3.scope__card-title <mark>Планировать</mark> свой бюджет на любой срок
                p.scope__card-desription Составляйте план своих расходов и доходов на месяц и более вперед.
            p.scope__card-info У вас появится понимание сколько и когда вы можете откладывать, чтобы накопить нужную сумму..

        article.scope__card
            .scope__card-top
                h4.h3.scope__card-title <mark>Анализировать</mark> текущие траты и доходы
                p.scope__card-desription Просматривайте подробную статистику своих доходов и расходов за месяц.
            p.scope__card-info Вы сразу сможете понять, где можно сэкономить, а где этого делать не получится.

        article.scope__card
            .scope__card-top
                h4.h3.scope__card-title <mark>Организовать</mark> накопления и вести их учет
                p.scope__card-desription Создавайте свои "Копилки" на различные цели, и ведите их учет.
            p.scope__card-info Вы будете постоянно видеть, как копилка пополняется и ваша цель становится к вам все ближе.
