@import "@/styles";

.price {
  position: relative;
  margin-top: 142px;

  .tablet({
    margin-top: 212px;
  });

  .laptop({
    margin-top: 260px;
  });

  &__background {
    position: absolute;
    top: -116px;
    left: 0;
    width: 100%;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("../../../../public/images/price.svg");
    height: 113px;

    .tablet({
      height: 205px;
      top: -168px;
    });

    .laptop({
      height: 282px;
      top: -216px;
    })
  }

  &__content {
    .layout();
    .grid();
  }

  &__text {
    .col(22, 2);
    text-align: center;

    .tablet({
      .col(21, 3);
    });

    .laptop({
      .col(13, 2);
      text-align: left;
    })
  }

  &__title {
    .text-size-1();
    font-weight: 400;
  }

  &__description {
    .text-size-4();
    margin-top: 18px;

    .tablet({
      margin-top: 24px;
    })
  }

  &__button {
    .col(24);
    margin: 48px auto 0 auto;

    .laptop({
      .col(3, 16);
      margin: 24px 0 0 0;
    });

    .button {
      width: 260px;
    }
  }
}
