section.price
    .price__background
        <svg width="1920" height="282" viewBox="0 0 1920 282" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1920 67.4993C1606.44 -23.5007 1220.24 -18.9007 512.232 63.4993C236.541 95.585 80.3921 87.5712 0 62.0528V118.999C211.356 116.999 682.06 92.4993 1067.29 92.4993C1474.27 92.4993 1767.45 202.999 1920 281.999V67.4993Z" fill="#6D4BBF"/>
        </svg>
    h2.h2.price__title Первые <b>6 месяцев</b> доступ к сервису - <b>БЕСПЛАТНЫЙ</b>!
    a(href="/signup" target="_blank").button Начать пользоваться!
