section.price
    .price__background

    .price__content
        .price__text
            h2.price__title Доступ к сервису - <b>БЕСПЛАТНЫЙ</b>!
            p.price__description Наш продукт совсем еще молодой, поэтому пока у вас есть прекрасная возможность получить бесплатный доступ к нему навсегда:)
        .price__button
            a(href="/signup" target="_blank").button Начать пользоваться!
