extends ../../layout/index

block content
    include ./firstscreen/index
    include ./scope/index
    include ./steps/index
    include ./benefits/index
    include ./questions/index
    include ./about/index
    include ./price/index
