@import "@/styles";

.questions {
  margin-top: 82px;
  position: relative;

  &__background {
    position: absolute;
    top: -126px;
    left: 0;
    width: 100%;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: 100% 100%;

    &_mobile {
      background-image: url("../../../../public/images/questions-mobile.svg");
      height: calc(100% + 300px);

      .mobile-wide({
        display: none;
      })
    }

    &_mobile-wide {
      display: none;

      .mobile-wide({
        display: block;
        background-image: url("../../../../public/images/questions-mobile-wide.svg");
      });

      .tablet({
        top: -500px;
        height: calc(100% + 850px);
      });

      .laptop({
        top: -450px;
      })
    }
  }

  &__content {
    .layout();
  }

  &__title {
    .text-size-2();
    color: @white;
    max-width: 250px;
    text-align: center;
    margin: 0 auto;

    .mobile-wide({
      max-width: 100%;
    })
  }

  &__list {
    margin-top: 24px;

    .tablet({
      margin-top: 48px;
    });

    .laptop({
      padding: 0 86px;
    })
  }
}
