section.questions#questions(aria-labelledby="questions-title")
    .questions__background.questions__background_mobile
    .questions__background.questions__background_tablet

    .questions__content
        h2.questions__title#questions-title Часто задаваемы вопросы
        .questions__list
            +dropdown("Сколько стоит подписка на сервис Money Hamster?", "Доступ к сервису БЕСПЛАТНЫЙ. Наш продукт пока еще очень молодой, поэтому у вас есть классная возможность начать им пользоваться сейчас и сохранить бесплатный доступ навсегда:)")
            +dropdown("Можно пользоваться с компьютера? А с телефона?", "Money Hamster удобно пользоваться как с компьютера, так и с телефона.")
            +dropdown("На сколько безопасно использование Money Hamster?", "Пользоваться Money Hamster <b>безопасно</b>. Мы не будем просить вас регистрироваться через банковские приложения, также нам не нужен доступ к вашим SMS сообщениям из банка, как это часто требуется в подобных приложениях.")
            +dropdown("Как пользоваться?", "<div class='questions__video-container'><iframe class='questions__video' loading='lazy' src=\"https://www.youtube.com/embed/IfV2lIXQyOY\" title='Как пользоваться Money Hamster' allow=\"accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share\" allowfullscreen></iframe></div>")


