section.questions
    .questions__background.questions__background_mobile
    .questions__background.questions__background_mobile-wide

    .questions__content
        h2.questions__title Часто задаваемы вопросы
        .questions__list
            +dropdown("Сколько стоит подписка на сервис Money Hamster?", "Какой-то Ответ")
            +dropdown("Можно пользоваться с компьютера? А с телефона?", "Да, можно")
            +dropdown("На сколько безопасно использование Money Hamster? ", "Очень безопасно")


