@import "@/styles";

.questions {
  margin-top: 82px;
  position: relative;

  &__background {
    position: absolute;
    top: -126px;
    left: 0;
    width: 100%;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: 100% 100%;

    &_mobile {
      background-image: url("data:image/svg+xml,%3Csvg width='360' height='583' viewBox='0 0 360 583' fill='none' xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.00287372 103C0.538063 102.994 76.6066 102.096 208.933 65.797C299.05 41.077 360 -3.05176e-05 360 -3.05176e-05V103V480H360C359.799 480.002 283.686 480.824 151.067 517.203C60.9504 541.923 0 583 0 583L1.80091e-05 480V103H0.00287372Z' fill='%236D4BBF'/%3E%3C/svg%3E%0A");
      height: calc(100% + 300px);

      .tablet({
        display: none;
      })
    }

    &_tablet {
      display: none;

      .tablet({
        background-image: url("data:image/svg+xml,%3Csvg width='744' height='1411' viewBox='0 0 744 1411' fill='none' xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.2576 549C51.7543 544.111 200.017 515.617 431.794 351.343C618.036 219.343 744 -0.00012207 744 -0.00012207V549V550V988H743.999C743.644 988.008 586.338 991.356 312.206 1140.79C125.964 1242.3 0 1411 0 1411L5.59487e-05 988V549H11.2576Z' fill='%236D4BBF'/%3E%3C/svg%3E%0A");
        display: block;
        top: -500px;
        height: calc(100% + 850px);
      });

      .laptop({
        top: -450px;
      })
    }
  }

  &__content {
    .layout();
  }

  &__title {
    .text-size-2();
    color: @white;
    max-width: 250px;
    text-align: center;
    margin: 0 auto;

    .mobile-wide({
      max-width: 100%;
    })
  }

  &__list {
    margin-top: 24px;

    .tablet({
      margin-top: 48px;
    });

    .laptop({
      padding: 0 86px;
    })
  }
}
