- var CONSTANTS = require("../../constants/index.json");

.user-widget#js-user-widget
    .user-widget__links
        a(href=`${CONSTANTS.pages.login}`, target="_blank").link Войти
        a(href=`${CONSTANTS.pages.signup}`, target="_blank").link Регистрация
