section.about#about(aria-labelledby="about-title")
    h2.about__title#about-title О нас
    .about__content
        picture.about__image
            source(srcset="./images/about-0.5x.avif" media="(max-width: 575px)")
            source(srcset="./images/about-0.5x.webp" media="(max-width: 575px)")
            source(srcset="./images/about.avif" media="(min-width: 576px)")
            source(srcset="./images/about.webp" media="(min-width: 576px)")
            img(src="./images/about.png" alt="" loading="lazy")
        .about__text
            h3 Нас зовут Аня и Влад и это&nbsp;мы создали Money Hamster:)
            p Создавали изначально только для себя - надоело пользоваться табличками Excel, а существующие приложения нас не устраивали по разным причинам.
            p Результат нам очень понравился, и мы решили, что Money Hamster - это полноценный продукт, который может быть полезен и другим людям.
            p Добро пожаловать!
            p
             b Надеемся, что вам понравится наш Money Hamster, и вы оцените его удобство! :)
