section.about
    h2.about__title О нас
    .about__content
        img(src="./images/about.png", alt="").about__image
        .about__text
            h4 Нас зовут Аня и Влад и это&nbsp;мы создали Money Hamster:)
            p Создавали изначально только для себя - надоело пользоваться табличками Excel, а существующие приложения нас не устраивали по разным причинам.
            p Результат нам очень понравился, и мы решили, что Money Hamster - это полноценный продукт, который может быть полезен и другим людям.
            p Добро пожаловать!
            p
             b Надеемся, что вам понравится наш Money Hamster, и вы оцените его удобство! :)
