section.steps(aria-labelledby="steps-title")
    .steps__background.steps__background_mobile
    .steps__background.steps__background_mobile-wide
    .steps__content
        h2.steps__title#steps-title Ведение семейного бюджета - это проще, чем кажется!
        ul.steps__list
            li.steps__item
                span.steps__item-title Шаг
                    span.steps__item-number 1
                        span.steps__item-number-inner 1
                p.steps__item-text Создайте <b>свои категории</b> расходов и доходов

            li.steps__item
                span.steps__item-title Шаг
                    span.steps__item-number 2
                        span.steps__item-number-inner 2
                p.steps__item-text Составьте <b>план расходов и доходов</b> на ближайший месяц

            li.steps__item
                span.steps__item-title Шаг
                    span.steps__item-number 3
                        span.steps__item-number-inner 3
                p.steps__item-text Регулярно <b>вносите</b> все свои <b>текущие расходы и доходы</b>

            li.steps__item
                span.steps__item-title Шаг
                    span.steps__item-number 4
                        span.steps__item-number-inner 4
                p.steps__item-text <b>Изучайте аналитику</b> своих планируемых и фактических расходов и доходов

