section.steps
    .steps__background
        <svg width="1920" height="899" viewBox="0 0 1920 899" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMinYMin slice">
            <path d="M1112.21 351.343C402.126 545.856 -5 550 -5 550L1920 550L1920 0C1920 0 1594.08 219.343 1112.21 351.343Z" fill="#6D4BBF"/>
            <path d="M807.79 676.057C1517.87 552.629 1925 550 1925 550L0 550L6.10212e-05 899.001C6.10212e-05 899.001 325.915 759.817 807.79 676.057Z" fill="#6D4BBF"/>
        </svg>
    h2.h2.steps__title Ведение семейного бюджета - это <br /> проще, чем кажется!
    ul.steps__list
        li.steps__item
            span.steps__item-title Шаг
                span.steps__item-number 1
                    span.steps__item-number-inner 1
            p.steps__item-text Создайте <b>свои категории</b> расходов и доходов

        li.steps__item
            span.steps__item-title Шаг
                span.steps__item-number 2
                    span.steps__item-number-inner 2
            p.steps__item-text Составьте <b>план расходов и доходов</b> на ближайший месяц

        li.steps__item
            span.steps__item-title Шаг
                span.steps__item-number 3
                    span.steps__item-number-inner 3
            p.steps__item-text Регулярно <b>вносите</b> все свои <b>текущие расходы и доходы</b>

        li.steps__item
            span.steps__item-title Шаг
                span.steps__item-number 4
                    span.steps__item-number-inner 4
            p.steps__item-text <b>Изучайте аналитику</b> своих планируемых и фактических расходов и доходов

