section.firstscreen
    div.firstscreen__background
        <svg width="1920" height="1579" viewBox="0 0 1920 1579" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMinYMin slice">
            <path d="M1103.79 618.032C623.662 785.884 153.04 803.156 0 816H1920V-2H1619.92C1619.92 150.351 1583.91 450.181 1103.79 618.032Z" fill="#414141"/>
            <path d="M806.79 1227.66C1516.87 1033.14 1924 1029 1924 1029H-1V1579C-1 1579 324.915 1359.66 806.79 1227.66Z" fill="#414141"/>
            <rect y="816" width="1920" height="213" fill="#414141"/>
        </svg>
    div.firstscreen__text
        h1.firstscreen__title Учет личных ДОХОДОВ и <br /> РАСХОДОВ
        p.firstscreen__description Просто. Понятно.
        a(href="/signup", target="_blank").button Хочу попробовать!
    img.firstscreen__image(src="./images/firstscreen-1x.png" alt="")
