section.firstscreen
    div.firstscreen__background.firstscreen__background_mobile
    div.firstscreen__background.firstscreen__background_mobile-wide

    div.firstscreen__text
        h1.firstscreen__title Учет личных ДОХОДОВ и РАСХОДОВ
        p.firstscreen__description Просто. Понятно.
    div.firstscreen__image-wrapper
        img.firstscreen__image.firstscreen__image_mobile(src="./images/firstscreen-mobile.png" alt="")
        img.firstscreen__image.firstscreen__image_desktop(src="./images/firstscreen-1x.png" alt="")
    a(href="/signup", target="_blank").button.firstscreen__button Хочу попробовать!
