@import "@/styles";

.firstscreen {
  .grid();
  margin-top: 138px;

  .laptop({
    margin-top: 162px;
  });

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: 100% 100%;

    &_mobile {
      background-image: url("../../../../public/images/1.svg");
      height: 539px;

      .tablet({
        display: none;
      })
    }

    &_tablet{
      display: none;

      .tablet({
        display: block;
        background-image: url("../../../../public/images/2.svg");
        height: 1047px;
      });

      .laptop({
        height: 1475px;
      })
    }
  }

  &__text {
    .col(22, 2);
    color: @white;

    .mobile-wide({
      .col(12);
    });

    .tablet({
      .col(10);
      color: @ash;
      margin-top: 18px;
    });

    .laptop({
      .col(8);
      margin-top: 48px;
    })
  }

  &__title {
    .text-size-1();
  }

  &__description {
    .text-size-4();
    margin-top: 8px;

    .tablet({
      margin-top: 18px;
    });

    .laptop({
      margin-top: 24px;
    })
  }

  &__image-wrapper {
    .col(22, 2);
    display: flex;
    position: relative;

    .mobile-wide({
      .col(1, 13, 25);
    });

    .tablet({
      .col(1, 11, 25);
    });

    .laptop({
      .col(1, 12, 25);
    })
  }

  &__image {
    width: 100%;
    display: block;

    .sm({
      position: absolute;
      left: 0;
    });

    &_mobile {
      margin-top: 32px;

      .mobile-wide({
        margin-top: 0;
      });

      .tablet({
        display: none;
      })
    }

    &_desktop {
      display: none;

      .tablet({
        display: block;
      })
    }
  }

  &__button {
    .col(22, 2);
    margin-top: 46px;

    .mobile-wide( {
      .col(11);
      max-width: 260px;
    });

    .laptop({
      margin-top: 72px;
    })
  }
}
