section.benefits
    h2.h2.benefits__title Почему <mark>Money Hamster</mark>?
    .benefits__content
        div
            ul.benefits__list
                li Простой и понятный интерфейс
                li Можно вести учет в разных валютах
                li Только нужные функции
                li Приятный дизайн
                li Удобно пользоваться как с компьютера, так и с телефона
            img(src="./images/cool-hamster.svg" alt="")

        img.benefits__devices(src="./images/devices.png" alt="")

