- var title = title || 'Ведение семейного бюджета Money Hamster, Учет финансов| Домашняя бухгалтерия'

block vars

head
    meta(charset='UTF-8')
    meta(name='description', content='Удобное ведение семейного бюджета с помощью приложения Money Hamster. Простой и понятный интерфейс. Учет расходов и доходов. Аналитика. Организация и контроль накоплений.')
    meta(name='keywords', content='Ведение семейного бюджета, учет финансов, учет личных финансов, система учета бюджета, учет доходов и расходов, домашняя бухгалтерия, приложение для учета доходов и расходов, приложение для ведения бюджета, контроль личных финансов, личная бухгалтерия, контроль семейного бюджета')
    meta(name='viewport', content='width=device-width')
    link(rel="icon" href="/favicons/favicon.ico")
    title #{title}
