include ../components/dropdown/index
doctype html
html(lang='ru')
    include head

    body
        include header/index
        //include ../sections/header-mobile/index

        main
            block content
        include footer/index
